#notebook-paper {
    width: 90%;
    height: 90%;
    transform: rotate(-10deg);
    background: linear-gradient(to bottom,white 29px,#00b0d7 1px);
    position: absolute;
    top: 5%;
    left: 100%;
}

.see-skill-outline {
    left: 5%;
}