.sticky-note {
    height: 210px;
    width: 210px;
    background-color: #FFFF8D;
    text-align: center;
    font-family: 'Dawning of a New Day', cursive;
    font-size: 1.5rem;
    box-shadow: 0 5px 5px black;
    cursor: -webkit-grab;
    position: absolute;
    top: 50px;
    left: 10px;
}
