.sticky-note {
    height: 210px;
    width: 210px;
    background-color: #FFEB3B;
    text-align: center;
    font-family: cursive;
    box-shadow: 0 5px 5px black;
    cursor: -webkit-grab;
    position: absolute;
    top: 50px;
    left: 10px;
}
