.sticky-note {
    height: 200px;
    width: 200px;
    background-color: gold;
    text-align: center;
    font-family: cursive;
    color: blue;
    box-shadow: 0 5px 5px black;
}

.sticky-note:hover {
    cursor: -webkit-grab;
    background-color: rgba(255, 215, 0, .85);
}