.box {
    border: 2px solid black;
    height: 100px;
    width: 66%;
    margin-left: 11%;
    margin-right: 22%;
    margin-top: -2px;
}

.box:hover {
    background-color: lightblue;
    font-size: xx-large;
}