<div class="modal-background">
    <div class="modal-content">
        <span 
            class="close-btn"
            (click)="closeThisModal()">
                X
        </span>

        <h1>leave me a note</h1>
        <p>I'll send you an e-mail, too.</p>

        <form #stickyNoteForm="ngForm" (ngSubmit)="submitNewStickyNote()">

            <div class="small-input">
                <label for="first-name">first name</label>
                <input 
                    type="text"
                    id="first-name"
                    name="first-name"
                    [(ngModel)]="newStickyNote.firstName"
                    #firstName="ngModel"
                    required>
            </div>

            <div class="small-input">
                <label for="last-name">last name</label>
                <input
                    type="text"
                    id="last-name"
                    name="last-name"
                    [(ngModel)]="newStickyNote.lastName"
                    #lastName="ngModel"
                    required >
            </div>

            <div class="small-input">
                <label for="email">email</label>
                <input
                    type="email"
                    id="email"
                    name="email"
                    [(ngModel)]="newStickyNote.email"
                    #email="ngModel"
                    required>
            </div>

            <div class="small-input">
                <label for="company">company</label>
                <input
                    type="text"
                    id="company"
                    name="company"
                    [(ngModel)]="newStickyNote.company"
                    #company="ngModel">
            </div>

            <div class="big-input">
                <label for="reason-for-note">reason for note</label>
                <select 
                    placeholder="select a reason"
                    aria-placeholder="select a reason"
                    name="reason" 
                    id="reason-for-note"
                    [(ngModel)]="newStickyNote.reasonForNote"
                    #reason="ngModel"
                    required>
                        <option 
                            *ngFor="let reason of reasonsForNote"
                            [value]="reason">
                                {{ reason }}
                        </option>
                </select>
            </div>

            <div class="big-input">
                <label for="message">message</label>
                <textarea
                    type="text"
                    id="message"
                    name="message"
                    [(ngModel)]="newStickyNote.message"
                    required></textarea>
            </div>
            <div class="big-input">
                <button type="submit" 
                [disabled]="!stickyNoteForm.form.valid">
                    leave a note
                </button>
            </div>

        </form>

    </div>
</div>
