<div class="desktop">
    
    <app-modal 
        *ngIf="isModalShown"
        (showNewNoteModal)="showOnDeskNewNoteModal($event)"
        (addThisStickyNote)="addNewNoteToDesk($event)">
    </app-modal>

    <div class="work-area">
        <app-nameplate></app-nameplate>

        <app-sticky-note-block 
            (showNewNoteModal)="showOnDeskNewNoteModal($event)">
        </app-sticky-note-block>
        <app-paper></app-paper>
        <app-sticky-note
            *ngFor="let note of stickyNotes; index as i"
            [stickyNote]="note"
            (mousedown)="moveService.moveElement($event, i)">
        </app-sticky-note>
        <app-pen (mousedown)="moveService.moveElement($event)"></app-pen>
    </div> <!-- .work-area -->
</div>