<div class="desktop">
    
    <app-modal 
        *ngIf="isModalShown"
        (showNewNoteModal)="showOnDeskNewNoteModal($event)"
        (addThisStickyNote)="addNewNoteToDesk($event)">
    </app-modal>
    
    <app-nameplate></app-nameplate>
    
    <div class="work-area">
        
        <app-sticky-note-block (showNewNoteModal)="showOnDeskNewNoteModal($event)"></app-sticky-note-block>
        <app-paper></app-paper>
        <app-pen (mousedown)="moveService.moveElement($event, 0)"></app-pen>
    </div>

    <app-sticky-note
        *ngFor="let note of stickyNotes; index as i"
        [stickyNote]="note"
        (mousedown)="moveService.moveElement($event, i)">
    </app-sticky-note>
</div>